:root{
    --darkblue: #003453;
    --pink:#C65F9E;
    --yellow: #FFAB08;
    --green: #B9C73A;
    --blue: hsl(199, 86%, 65%);
    --red: #FC6E3D; 
    --roxo: #412060;

    --mainColor1:  #003453;
    --mainColor2:  #FC6E3D;
    --mainColor3: #054063;

    --bgColor: white;
    --color: #3d4147;

    --colorTitle: #4F4F4F;
    --colorSubtitle: #A9A9A9;
    --colorText: #3d4147;

    --colorBorder: #ccd3d5;

    --lightBorder: 1px solid #e1e1e1;
    --grayBoxShadow: 1px 2px 2px var(--grayShadow);

    --grayShadow: #e1e1e1;
    --fontSize: 1em;
}

.links {
    text-decoration: none; 
}

.background-black {
    background-color: black;
  }
  
.background-white {
    background-color: white;
}