  #mapa-svg svg {
    max-height: 500px;
  }

  #mapa-estado-svg {
    max-width: 800px;
    min-width: 350px;
    }
  
  .direc1 {
    background-color:teal ;
  }

  .direc-1 path {
    fill:teal !important;
  }
  .direc-1:hover path {
    fill:rgb(0, 182, 182) !important;
  }
  
  .direc2{
    background-color:crimson  ;
  }

  .direc-2 path {
    fill:crimson !important;
  }
  .direc-2:hover path {
    fill:rgb(245, 70, 105) !important;
  }
  
  .direc3{
    background-color:aquamarine ;
  }

  .direc-3 path {
    fill:aquamarine !important;
  }
  .direc-3:hover path {
    fill:rgb(61, 150, 150) !important;
  }
  
  .direc4{
    background-color: olive;
  }

  .direc-4 path {
    fill:olive !important;
  }
  .direc-4:hover path {
    fill:rgb(167, 167, 65) !important;
  }
  
  .direc5{
    background-color: rgb(255, 255, 90);
  }

  .direc-5 path {
    fill:rgb(255, 255, 90) !important;
  }
  .direc-5:hover path {
    fill:rgb(255, 255, 180) !important;
  }
  
  .direc6{
    background-color: darkslateblue;
  }

  .direc-6 path {
    fill:darkslateblue !important;
  }
  .direc-6:hover path {
    fill:rgb(125, 100, 230) !important;
  }
  
  .direc7{
    background-color: tomato;
  }

  .direc-7 path {
    fill:tomato !important;
  }
  .direc-7:hover path {
    fill:rgb(255, 150, 135) !important;
  }
  
  .direc8{
    background-color: cadetblue;
  }

  .direc-8 path {
    fill:cadetblue !important;
  }
  .direc-8:hover path {
    fill:rgb(169, 226, 226) !important;
  }
  
  .direc9{
    background-color: chartreuse;
  }

  .direc-9 path {
    fill:chartreuse !important;
  }
  .direc-9:hover path {
    fill:rgb(185, 255, 110) !important;
  }
  
  .direc10{
    background-color: dodgerblue; 
  }

  .direc-10 path {
    fill:dodgerblue !important;
  }
  .direc-10:hover path {
    fill:rgb(140, 195, 255) !important;
  }
  
  .direc11{
    background-color: red;
  }

  .direc-11 path {
    fill:red !important;
  }
  .direc-11:hover path {
    fill:rgb(255, 70, 70) !important;
  }
  
  .direc12{
    background-color: yellow;
  }

  .direc-12 path {
    fill:yellow !important;
  }
  .direc-12:hover path {
    fill:rgb(255, 255, 180) !important;
  }
  
  .direc13{
    background-color: orange;
  }

  .direc-13 path {
    fill:orange !important;
  }
  .direc-13:hover path {
    fill:rgb(255, 200, 100) !important;
  }
  
  .direc14{
    border: var(--lightBorder);
    background-color: white;
  }

  .direc-14 path {
    fill:white !important;
  }
  .direc-14:hover path {
    fill:rgb(215, 215, 215) !important;
  }

  .direc15{
    background-color: green;
  }

  .direc-15 path {
    fill:green !important;
  }
  .direc-15:hover path {
    fill:rgb(70, 170, 70) !important;
  }
  
  .direc16{
    background-color: rgb(0, 30, 80);
  }

  .direc-16 path {
    fill: rgb(0, 30, 80) !important;
  }
  .direc-16:hover path {
    fill:rgb(95, 130, 200) !important;
  }
  
  ul li .map {
    color: black;
  }